* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #5d535b;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.chart {
    padding: 1rem;
    border: 1px solid #f492f4;
    border-radius: 1rem;
    background: #252525;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    width: 600px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
